@{
    ViewData["Title"] = "Home Page";
}

<style>
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        color: white;
        font-family: 'Poppins', sans-serif;
        overflow-x: hidden;
        background-color: #000;
    }

    .bg-video {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #000;
    }

        .bg-video video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .bg-video:-webkit-full-screen {
            display: none;
        }

    @@media (min-aspect-ratio: 16/9) {
        .bg-video video

    {
        width: 100%;
        height: auto;
    }

    }

    @@media (max-aspect-ratio: 16/9) {
        .bg-video video

    {
        width: auto;
        height: 100%;
    }

    }

    section {
        padding: 60px 20px;
        text-align: center;
        align-items: center;
        backdrop-filter: blur(10px);
        border-radius: 15px;
        margin: 40px;
    }

    .Org-roles {
        margin: 120px 100px;
    }
    .experiences-awards {
        margin: 120px 100px;
    }


    h2 {
        font-size: 2em;
        margin-bottom: 50px;
        font-weight: 700;
    }

    h3 {
        color: #6300a5;
        font-weight: 600;
    }



    .card-container {
        display: block;
        align-items: center;
        animation: movedown 1s linear forwards;
        opacity: 0;
    }
    @@keyframes movedown {
        0% {
            transform: translateY(-30px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .card-container::after {
        content: "";
        position: absolute;
        width: 6px;
        height: 93%;
        background: white;
        top: 5.8%;
        left: 48.5%;
        margin-left: -3px;
        z-index: -1;
        animation: moveline 6s linear forwards;
    }
    @@keyframes moveline {
        0% {
            height: 0;
        }
        100% {
            height: 90%;
        }

    }

    .info-card {
        position: relative;
        background: white;
        color: #3b0153;
        border-radius: 15px;
        padding: 20px;
        margin: 20px;
        width: 40%;
        transition: transform 0.3s ease, background 0.3s ease;
    }

        .info-card:hover {
            transform: translateY(-5px);
            background: #f0f0f0;
        }

    .left-card {
        left: 3.5%;
    }

        .left-card h2 {
            position: absolute;
            width: 40px;
            background-color: white;
            color: #6300a5;
            font-weight: 700;
            border-radius: 50%;
            top: 50px;
            right: -60px;
            z-index: 10;
        }

    .right-card {
        left: 50%;
    }

        .right-card h2 {
            position: absolute;
            width: 40px;
            background-color: white;
            color: #6300a5;
            font-weight: 700;
            border-radius: 50%;
            top: 50px;
            left: -60px;
            z-index: 10;
        }
</style>

<body>

    <div class="bg-video">
        <video autoplay muted loop>
            <source src="~/images/bgvideo.mp4" type="video/mp4" />
        </video>
    </div>


    <section class="Org-roles">
        <h2>Academic Organizational Roles</h2>
        <div class="card-container">
            <div class="info-card left-card">
                <h2>1</h2>
                <h3>Public Information Officer</h3>
                <p>Integrity Warriors of Komhay (IWK) 2020–2021 in Commonwealth High School</p>
            </div>
            <div class="info-card right-card">
                <h2>2</h2>
                <h3>Creative Technical Platform Officer</h3>
                <p>PUPQC Council of Leaders 2023–2024</p>
            </div>
            <div class="info-card left-card">
                <h2>3</h2>
                <h3>Lupon Layout Artist</h3>
                <p>PUPQC Mag-aaral ng Unibersidad sa Sining at Adhika (MUSA) 2024–2025</p>
            </div>
            <div class="info-card right-card">
                <h2>4</h2>
                <h3>Public Information Officer</h3>
                <p>PUPQC Commonwealth Information Society 2024–2025</p>
            </div>
            <div class="info-card left-card">
                <h2>5</h2>
                <h3>GDG WebDev Member</h3>
                <p>Google Developer Group 2024–2025</p>
            </div>
            <div class="info-card right-card">
                <h2>6</h2>
                <h3>Lupon ng Malikhaing Paggawa</h3>
                <p>PUPQC Mag-aaral ng Unibersidad sa Sining at Adhika (MUSA) 2024–2025</p>
            </div>
            <div class="info-card left-card">
                <h2>7</h2>
                <h3>Creatives Member</h3>
                <p>PUPQC Sinagtala (2025)</p>
            </div>
            <div class="info-card right-card">
                <h2>8</h2>
                <h3>Class Vice President</h3>
                <p>BSIT 3-2 A.Y. 2024–2025 and 2025–2026</p>
            </div>
            <div class="info-card left-card">
                <h2>9</h2>
                <h3>Vice President for Internal Affairs</h3>
                <p>PUPQC Commonwealth Information Society 2025–2026</p>
            </div>
        </div>
    </section>


    <section class="experiences-awards">
        <h2>Experiences and Awards</h2>
        <div class="card-container">
            <div class="info-card left-card">
                <h2>1</h2>
                <h3>Program Usherette</h3>
                <p>Commonwealth High School Work Immersion Seminar (2023)</p>
            </div>
            <div class="info-card right-card">
                <h2>2</h2>
                <h3>STEM Registration Volunteer</h3>
                <p>Commonwealth High School (2023)</p>
            </div>
            <div class="info-card left-card">
                <h2>3</h2>
                <h3>Certificate & Invitation Committee</h3>
                <p>MUSA General Assembly: The Rise of Benders (2024)</p>
            </div>
            <div class="info-card right-card">
                <h2>4</h2>
                <h3>IT General Assembly Facilitator</h3>
                <p>CommITs Start-up Event (2024)</p>
            </div>
            <div class="info-card left-card">
                <h2>5</h2>
                <h3>CommITs External Partnership Attendee</h3>
                <p>FEU JPCS: Ground Zero (2024) • UP Diliman: Disruptive Innovations (2024)</p>
            </div>
            <div class="info-card right-card">
                <h2>6</h2>
                <h3>Certificate & Invitation Committee</h3>
                <p>
                    MUSA Street Indak Fighter (2025)<br>
                    MUSA 2nd General Assembly (2025)<br>
                    MUSA Kulturaktor: Teatro Workshop (2025)
                </p>
            </div>
            <div class="info-card left-card">
                <h2>7</h2>
                <h3>Game Facilitator</h3>
                <p>CommITs IT Esports Events (2025)</p>
            </div>
            <div class="info-card right-card">
                <h2>8</h2>
                <h3>IT Competition Watcher</h3>
                <p>CommITs Hackathon: Case Closed & Prototype (2025)</p>
            </div>
            <div class="info-card left-card">
                <h2>9</h2>
                <h3>Project Manager & Full Stack Developer</h3>
                <p>PUPQC Gym Reservation System (2025)</p>
            </div>
            <div class="info-card right-card">
                <h2>10</h2>
                <h3>Back-End & Database Developer</h3>
                <p>Pet Health and Vaccination Record System (2025)</p>
            </div>
        </div>
    </section>

</body>
